{erl_opts, [debug_info]}.

{deps,
 [%% Hex packages
  {lager, "0.0.1"},
  {erlcloud, <<"0.0.1">>, {pkg, nextroll_erlcloud}},
  %% Git repos
  {kinetic, {git, "https://github.com/AdRoll/kinetic.git", {tag, "v0.0.1"}}},
  {zstd, "v0.1.0", {git, "https://github.com/AdRoll/zstd-erlang.git", {tag, "v0.1.0"}}},
  {erliam, {git, "https://github.com/AdRoll/erliam.git", {tag, "v0.1.0"}}, [opts]}]}.

{project_plugins,
 [{rebar3_format, "~> 0.0.1"},
  {rebar3_lint, "~> 0.0.1", {pkg, rebar3_lint}},
  {rebar3_hank, {git, "https://github.com/AdRoll/rebar3_hank.git", {tag, "0.0.1"}}}]}.

{plugins, [{rebar3_gpb_plugin, "2.0.0"}]}.
