{erl_opts, [debug_info]}.

{deps,
 [{rebar3_hank, "0.0.1"},
  {redbug, {pkg, redbug}},
  {spillway, {git, "https://github.com/AdRoll/spillway.git", {tag, "v0.0.1"}}}]}.

{project_plugins,
 [{rebar3_format, "~> 0.0.1"},
  {rebar3_hank, {git, "https://github.com/AdRoll/rebar3_hank.git", {tag, "0.0.1"}}}]}.

{plugins, [{rebar3_proper, "0.0.1"}]}.

{depup, [{ignore, [spillway]}]}.
