{erl_opts, [debug_info]}.

{deps,
 [%% Already using the latest version
  mero,
  %% Multiple versions of GIT without using a tag
  {spillway, "1.2.3", {git, "https://github.com/AdRoll/spillway.git", {branch, "main"}}},
  {eep, {git, "https://github.com/virtan/eep.git", {ref, "8f6e5e3"}}},
  {mero, "0.1", {git, "https://github.com/AdRoll/mero.git", {branch, "main"}}, [opts]},
  {erlmld, {git, "https://github.com/AdRoll/erlmld.git"}},
  {wrong_dep, "bad-version", {git, "bad-url"}}]}.
