{erl_opts, [debug_info]}.

{deps, [{will_update, "1.1.1"}, {wont_update, "1.1.1"}]}.

{project_plugins,
 [{rebar3_format, "~> 0.0.1"},
  {rebar3_hank, {git, "https://github.com/AdRoll/rebar3_hank.git", {tag, "0.0.1"}}}]}.

{plugins, [{rebar3_proper, "0.0.1"}]}.

{depup, [{only, patch}]}.

{unicode, [{emojis, "✨"}, {chars, "Î²"}]}.
