[
    {config, [
        #{
            files => ["src/*erl"],
            ruleset => erl_files_strict,
            rules => [
                {elvis_style, prefer_strict_generators, disable},
                {elvis_style, consistent_ok_error_spec, disable},
                {elvis_style, max_function_length, #{max_length => 50}}
            ]
        },
        #{
            files => ["test/*.erl"],
            ruleset => erl_files_strict,
            rules => [
                {elvis_style, no_debug_call, disable}, {elvis_style, dont_repeat_yourself, disable}
            ]
        }
    ]}
].
