{erl_opts,
 [warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  debug_info]}.

{deps, [{hex_core, "~> 0.8.2"}, {verl, "~> 1.1.1"}]}.

{profiles, [{test, [{deps, [meck]}]}]}.

{minimum_otp_vsn, "22"}.

{project_plugins,
 [{rebar3_hex, "~> 6.11.7"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.1"},
  {rebar3_hank, "~> 1.2.2"}]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{edoc_opts,
 [{todo, true},
  {title, "Rebar3 DepUp"},
  {overview, "priv/overview.edoc"},
  {packages, true},
  {subpackages, true},
  {source_path, "src"},
  {application, rebar3_depup},
  {new, true},
  report_missing_types]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias,
 [{test, [compile, format, lint, hank, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.

{format, [{files, ["*.config", "src/*", "test/*"]}]}.
